<p>item-tabla works!</p>

<div class="container">
    <h2>Black/Dark Table</h2>
    <p>The .table-dark class adds a black background to the table:</p>            
    <table class="table table-dark">
      <thead>
        <tr>
          <th>Index</th>
          <th>Id</th>
          <th>Name</th>
          <th>Description</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor= "let item of items; let i = index">
          <td>{{i}}</td>
          <td>{{item.id}}</td>
          <td> <input type="text" name="name" [(ngModel)]="item.name"> </td>
          <td><input type="text" name="description"  [(ngModel)]="item.description"></td>
          <td>
            <button [ngStyle]="{'background':'coral','color':'white'}" (click)="read(item.id!)">
              read
            </button>
            <button [ngStyle]="{'background':'red','color':'white'}" (click)="delete(item.id!)">
              delete
            </button>
            <button [style.background]="'blue'"[style.color]="'white'" (click)="update(item)" >
              update
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
